# CIÊNCIA DOS DADOS PARA TOMADAS DE DECISÕES - ON.A - 476112
**Nome:** Lucas da Silva de Araujo

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
# Leitura do arquivo após upload
df = pd.read_excel('default_of_credit_card_clients__courseware_version_1_21_19.xls')

# Visualizar as primeiras linhas
df.head()

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_1,PAY_2,PAY_3,PAY_4,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default payment next month
0,798fc410-45c1,20000,2,2,1,24,2,2,-1,-1,...,0,0,0,0,689,0,0,0,0,1
1,8a8c8f3b-8eb4,120000,2,2,2,26,-1,2,0,0,...,3272,3455,3261,0,1000,1000,1000,0,2000,1
2,85698822-43f5,90000,2,2,2,34,0,0,0,0,...,14331,14948,15549,1518,1500,1000,1000,1000,5000,0
3,0737c11b-be42,50000,2,2,1,37,0,0,0,0,...,28314,28959,29547,2000,2019,1200,1100,1069,1000,0
4,3b7f77cc-dbc0,50000,1,2,1,57,-1,0,-1,0,...,20940,19146,19131,2000,36681,10000,9000,689,679,0

1. Saber quantas colunas os dados contêm. (Podem ser de características, resposta ou metadados)

In [ ]:
print("Número de colunas:", df.shape[1])

Número de colunas: 25


2.  Quantas linhas (amostras).

In [ ]:
print("Número de linhas:", df.shape[0])

Número de linhas: 30000


3.  Que tipos de características existem. Quais são categóricas e quais são numéricas? (Os valores das características categóricas pertencem a classes discretas como “sim”, “não” ou “talvez”. Normalmente as características numéricas pertencem a uma escala numérica contínua, como as quantias em dólares).

In [ ]:
print("Tipos de dados:")
print(df.dtypes)

col_numericas = df.select_dtypes(include='number').columns
col_categoricas = df.select_dtypes(exclude='number').columns

print("\nColunas numéricas:", list(col_numericas))
print("\nColunas categóricas:", list(col_categoricas))

Tipos de dados:
ID                            object
LIMIT_BAL                      int64
SEX                            int64
EDUCATION                      int64
MARRIAGE                       int64
AGE                            int64
PAY_1                         object
PAY_2                          int64
PAY_3                          int64
PAY_4                          int64
PAY_5                          int64
PAY_6                          int64
BILL_AMT1                      int64
BILL_AMT2                      int64
BILL_AMT3                      int64
BILL_AMT4                      int64
BILL_AMT5                      int64
BILL_AMT6                      int64
PAY_AMT1                       int64
PAY_AMT2                       int64
PAY_AMT3                       int64
PAY_AMT4                       int64
PAY_AMT5                       int64
PAY_AMT6                       int64
default payment next month     int64
dtype: object

Colunas numéricas: ['LIMIT_BAL', 'SEX', 'EDUCATION', 'MARRIAGE', 'AGE', 'PAY_2', 'PAY_3', 'PAY_4', 'PAY_5', 'PAY_6', 'BILL_AMT1', 'BILL_AMT2', 'BILL_AMT3', 'BILL_AMT4', 'BILL_AMT5', 'BILL_AMT6', 'PAY_AMT1', 'PAY_AMT2', 'PAY_AMT3', 'PAY_AMT4', 'PAY_AMT5', 'PAY_AMT6', 'default payment next month']

Colunas categóricas: ['ID', 'PAY_1']

4.  Qual é a aparência dos dados segundo essas características. (Para saber isso, você pode examinar o intervalo de valores em características numéricas ou a frequência de classes diferentes em características categóricas, por exemplo).

In [ ]:
# Exemplo com colunas categóricas
print(df['SEX'].value_counts())
print(df['EDUCATION'].value_counts())

SEX
2    17910
1    11775
0      315
Name: count, dtype: int64
EDUCATION
2    13884
1    10474
3     4867
0      329
5      275
4      122
6       49
Name: count, dtype: int64



5.   Existem dados faltando?

In [ ]:
df.isnull().sum()

ID                            0
LIMIT_BAL                     0
SEX                           0
EDUCATION                     0
MARRIAGE                      0
AGE                           0
PAY_1                         0
PAY_2                         0
PAY_3                         0
PAY_4                         0
PAY_5                         0
PAY_6                         0
BILL_AMT1                     0
BILL_AMT2                     0
BILL_AMT3                     0
BILL_AMT4                     0
BILL_AMT5                     0
BILL_AMT6                     0
PAY_AMT1                      0
PAY_AMT2                      0
PAY_AMT3                      0
PAY_AMT4                      0
PAY_AMT5                      0
PAY_AMT6                      0
default payment next month    0
dtype: int64

o codigo acima e o

df.isnull() → retorna uma tabela booleana, com True para valores nulos (faltando) e False para os demais.


.sum() → soma os True (que são tratados como 1), ou seja, conta quantos valores nulos existem em cada coluna.